@charset "UTF-8";

:root {
    --cor1: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

.game-board {
    width: 80%;
    height: 500px;
    border: 1px solid var(--cor1);
    margin: 0px auto;
    position: relative;
}

.pipe {
    position: absolute;
    width: 25px;
}

#tubo {
    animation-name: pipe;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes pipe {
    from {
        right: -14%;
        bottom: 0%;
    } to {
        right: 110%;
        bottom: 0%;
    }
}

.mario {
    width: 55px;
    position: absolute;
    bottom: 0%;
}

.jump {
    animation: jump 600ms ease-out;
}

@keyframes jump {
    0% {
        bottom: 0%;
    }
    10% {
        bottom: 5%;
    }
    20% {
        bottom: 8%;
    }
    30% {
        bottom: 10%;
    }
    40% {
        bottom: 11%;
    }
    50% {
        bottom: 11%;
    } 
    100% {
        bottom: 0%;
    }
}