@charset "UTF-8";

:root {
    --cor1: #333;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100vh;
}

.game-board {
    width: 100vw;
    height: 500px;
    border: 1px solid var(--cor1);
    margin: 0px auto;
    position: relative;
    overflow: hidden;
}

.pipe {
    position: absolute;
    width: 25px;
}

#tubo {
    animation-name: pipe;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
@keyframes pipe {
    from {
        right: -14%;
        bottom: 0%;
    } to {
        right: 110%;
        bottom: 0%;
    }
}

.mario {
    width: 55px;
    position: absolute;
    bottom: 0%;
    left: 20%;
}

.jump {
    animation: jump 600ms ease-out;
}
@keyframes jump {
    0% {
        bottom: 0%;
    }
    10% {
        bottom: 6%;
    }
    20% {
        bottom: 9%;
    }
    30% {
        bottom: 11%;
    }
    40% {
        bottom: 12%;
    }
    50% {
        bottom: 12%;
    } 
    100% {
        bottom: 0%;
    }
}

.dead {
    animation: dead 0.9s linear, deadmove 0.4s steps(1) alternate;
    width: 31px;
    left: 24%;
}
@keyframes dead {
    0% {
        bottom: 0%;
    }
    10% {
        bottom: 4%;
    }
    20% {
        bottom: 6%;
    }
    30% {
        bottom: 7%;
    }
    40% {
        bottom: 8%;
    }
    50% {
        bottom: 2%;
    }  
    100% {
        bottom: -20%;
    }
}

@keyframes deadmove {
    0% {
        transform: scaleX(1);
    } 
    30% {
        transform: scaleX(-1)
    }
    60% {
        transform: scaleX(1)
    }
    90% {
        transform: scaleX(-1)
    }
}